<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="31916SkogbergLabs.MusicPimp" Publisher="CN=F956D6BD-F615-4D77-93DB-30AB0283D47D" Version="5.1.7.40" />
  <Properties>
    <DisplayName>MusicPimp</DisplayName>
    <PublisherDisplayName>Skogberg Labs</PublisherDisplayName>
    <Logo>Assets\Store\guitar-50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Mle.App">
      <m2:VisualElements DisplayName="MusicPimp" Square150x150Logo="Assets\Store\guitar-150x150.png" Square30x30Logo="Assets\Store\guitar-30x30.png" Description="MusicPimp for Windows 8.1" ForegroundText="light" BackgroundColor="black" ToastCapable="true">
        <m2:DefaultTile ShortName="MusicPimp" DefaultSize="wide310x150Logo" Wide310x150Logo="Assets\Store\guitar-310x150.png" Square310x310Logo="Assets\Store\guitar-310x310.png" Square70x70Logo="Assets\Store\guitar-70x70.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Store\guitar-24x24-white-transparent.png" />
        <m2:SplashScreen Image="Assets\Store\guitar-620x300.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="default" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Mle.App">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="StoreBackgroundTask81.BackgroundTask81">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>